* {
  margin: 0;
  padding: 0;
}

header {
  height: auto;
  background-color: seagreen;
}

#parent {
  margin: 0;
  padding: 0;
}

#kennel {
  height: auto;
  background-color: ivory;
}

.progress-bar {
    color: black;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
    width: 280px;
    padding: 10px;
}

h2 {
    background-color: lightblue;
}

footer {
    display: flex;
    background-color: lightgreen;
    flex-shrink: 0;
}

.dinosaur {
    border: 2px solid #688052;
    width: 300px;
    margin: 20px;
    text-align: center;
    background-color: white;
}

#hospital {
  height: auto;
  background-color: palevioletred;
}

#grave-yard {
  height: auto;
  background-color: slategray;
}
